/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
	box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */

nav{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 5%;
}

.links{
	width: 75%;
	display: inline-block;
}

.links a{
	margin: 0 3%;
	text-decoration: none;
	color: grey;
}

.logo{
	width: 24%;
	display: inline-block;
}

.titlesection div{
	display: inline-block;
	vertical-align: middle;
	margin-left: 5%;
}

.title{
	text-align: center;
	padding-bottom: 5%;
	height: 100%;
	width: 40%;
}

.InnovationOnDemand{
	width: 100%;
	display: inline-block;
}

h1{
	font-size: 70px;
}

button{
	font-size: 110%;
	width: 110%;
	padding: 1% 15%;
}

.circle{
	margin-left: 1%;
	width: 40%;
}

.featuresAbout{
	margin: 5%;
}

.featuresAbout div{
	width: 45%;
	display: inline-block;
}

.About{
	margin-left: 8%;
}

.middle-img{
	width: 90%;
	margin-left: 5%;
}

.servicesProductVision{
	width: 90%;
	margin: 5%;
}

.servicesProductVision div{
	width: 28%;
	display: inline-block;
}

.Services{
	margin-right: 7%;
}

.Product{
	margin-right: 7%;
}

.contact{
	margin-left: 5%;
	margin-right: 5%;
}

.contact p{
	margin-top: 2%;
}

footer{
	margin: 5%;
	text-align: center;
}